html{
    height: 100%;
    margin: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid{
    /* height: 100%; */
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}
#theMainDiv {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    padding-left: 6%;
    padding-right: 10%;
}

.listDiv{
    background: #fff;
}
.card{
    max-width: 300;
    max-height: 500;
    cursor: pointer;
    border-radius: 15px;
}

.list-item a{
  color: #4c768b;
  cursor: pointer;
  background: #fff;
}

.list-item-active a{
  color: #5F93AE;
  cursor: pointer;
  background: #fff;
}

#password {
  position: relative;
}
.input-group-addon {
  position: absolute;
  top: 11px;
  right: 15px;
}


/* SIDEBAR AND NAVBAR STYLES */

#wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .3s ease-out;
  -moz-transition: margin .3s ease-out;
  -o-transition: margin .3s ease-out;
  transition: margin .3s ease-out;
  }
  
  
  .heading{
    font-size: 38px;
  }
  
  #sidebar-wrapper .list-group {
  width: 15rem;
  font-size: 18px;
  }
  
  #page-content-wrapper {
  min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  }
  
  .nav-link {
    font-size: 18px;
  }
  
  @media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  }
  /* end sidebar */

/* default */

.headerBanner {
  position: relative;
}

.assBtn {
  float: right;
  background-color: #1B658C;
  border-radius: 40px;
  border: none;
  }
  
  .BigBtn {
    background-color: #1B658C;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    position: absolute;
    right: 100px;
    bottom: 90px;
    padding-left: 8px;
    padding-right: 8px;
  }


.mainDiv{
  background: #F9F9F9;
}

.toast{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999999;
  /* display: none; */
}


.btnLink {
  color: white;
  text-decoration: none;
  display: inline-block;
}
.btnLink:hover {
  color: white;
  text-decoration: none;
}

/* end default */


  /* courses.html */
.titlehr{
  width: 20%;
  text-align: start;
  margin-left: 0;
  margin-top: 0;
  border: 5px solid #1b668c;
  border-radius: 5px;
}

.card{
  height: 300px;
  max-height: 300px;
}

.card-body{
  padding: 15px;
}

.autocomplete-items {
  display: none;
  position: absolute;
  width: 250px;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  background: white;
  overflow: auto;
  max-height: 200px;
  z-index: 99999999;
  box-shadow: 5px 5px gray;
}

.autocomplete-items li {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items li:hover {
  background-color: #e9e9e9;
}

.fake-input {
   position: relative;
   width: 250px;
   border: 1px solid gray;
   padding: 5px;
}

.fake-input input {
   border:none;
   background-color:#fff;
   display:block;
   width: 100%;
   border-radius: 20px;
}

.fake-input input:active + .fake-input {
  border:1px solid lightblue;
}

.fake-input i {
   position: absolute;
   top: 18px; 
   right: 15px; 
   height: 100%; 
}


/* end courses.html */


/* start courseDetails.html */
.coursetab{
  border: 2px solid gray;
  border-radius: 20px;
  background: white;
}

.badge{
  color: gray;
  background: #EEEEEE;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  margin: 5px;
}

.table .table-borderless {
  border-collapse: separate;
  border-spacing: 1em;
}

.questionTab{
  background: white;
  border-radius: 25px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* max-height: 300px; */
  margin-right: -15px;
}

.questionHeading{
  background: #E3EAEE;
  color: black;
}

.objQuestionTab{
  border-bottom: 1px solid black;
}

.question{
  padding-bottom: 2px;
  margin-bottom: 0;
}

.questionLevel{
  padding-bottom: 0;
  margin-bottom: 5px;
  padding-top: 0;
  margin-top: 0;
}

.scrollDiv{
  height: auto;
  /* max-height: 450px; */
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.scrollDivContent{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.list-unstyled{
  list-style-type: none;
}

.span-heading{
  font-size: 12px;
}

.syllabusHr{
  border: 1px solid black;
}

.btn-primary{
  background: #1b668c;
  border-radius: 10px;
}

/* end courseDetails.html */


/* my assessments */

.objCard {
  position: relative;
}

.editBtn {
  position: absolute;
  right: 0px;
}


.createQuestions {
  display: inline-block;
  height: 150px;
  padding: 50px 0;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}


#inputUpload {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  font-size: large;
  color: gray;
}

.custom-file-upload:hover {
  text-decoration: none;
  font-size: large;
  color: black;
}

.uploadques{
  text-align: center;
  height: 100vh;
  line-height: 100vh;
  font-size: large;
}

.uploadLinks {
  color: gray;
  text-decoration: none;
}

.uploadLinks:hover {
  color: black;
  text-decoration: none;
}

/* end my assessments */


/* addques page */

.addques {
  height: 60vh;
  align-items: center;
}

#addques {
  text-align: center;
}
.divInput {
  background-color: #EEEEEE;
}

#quesInput {
  height: 80px;
  background-color: transparent;
  border: none;
}

.levelSelect{
  border: none;
 border-bottom: 1px solid gray;
}

.bloomSelect {
  border: none;
  border-bottom: 1px solid gray;
}


.firstOption {
 background-color: #C04DD8;
 color: white;
}

.secondOption {
  background-color: #4FB277;
  color: white;
}

.thirdOption {
  background-color: #508AE0;
  color: white;
}

.fourthOption {
  background-color: #4ED8EA;
  color: white;
}

#sourceInput {
  height: 50px;
  background-color: transparent;
  border: none;
}

/* end addques page */


/* create assessment */
.createassessment {
  align-items: center;
  padding: 0 180px;
}

#subject-modal-div {
  display: inline-block;
  width: 100%;
  position: relative;
  border: solid 1px rgb(196, 195, 195);
  border-radius: 5px;
}

#subject-modal-div:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

/* end create assessment */