html{
    height: 100%;
    margin: 0;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid{
    /* height: 100%; */
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}
.container {
    height: 100%;
    margin-bottom: 0;
}
.listDiv{
    background: #ededed;
}
.card{
    max-width: 300;
    max-height: 500;
    cursor: pointer;
    border-radius: 15px;
}

.list-item a{
  color: #4c768b;
  cursor: pointer;
  background: #fff;
}

.list-item-active a{
  color: #5F93AE;
  cursor: pointer;
  background: #fff;
}

/* SIDEBAR AND NAVBAR STYLES */

#wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .3s ease-out;
  -moz-transition: margin .3s ease-out;
  -o-transition: margin .3s ease-out;
  transition: margin .3s ease-out;
  }
  
  
  .heading{
    font-size: 38px;
  }
  
  #sidebar-wrapper .list-group {
  width: 15rem;
  font-size: 18px;
  }
  
  #page-content-wrapper {
  min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  }
  
  .nav-link {
    font-size: 18px;
  }
  
  @media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  }
  /* end sidebar */

  /* courses.html */
.titlehr{
  width: 20%;
  text-align: start;
  margin-left: 0;
  margin-top: 0;
  border: 5px solid #008cba;
  border-radius: 5px;
}


/* end courses.html */


/* start courseDetails.html */
.coursetab{
  border: 2px solid gray;
  border-radius: 25px;
  background: white;
}

.badge{
  color: black;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
}

/* end courseDetails.html */


/* my assessments */


.assBtn {
float: right;
background-color: #008cba;
border-radius: 40px;
border: none;
}

/* end my assessments */