

.courseTagsUl {
  list-style: none;
}
.courseTagsLi {
  display: inline-block;
  color: #929292;
  cursor: pointer;
}
.courseTagsInput {
  visibility:hidden;
  cursor: pointer;
}
.courseTagsLabel {
  border: 2px solid gray;
  padding: 5px;
  border-radius:20px;
  cursor: pointer;
  background: #FAFAFA;
}
.courseTagsInput:checked + .courseTagsLabel {
  color: blue;
  background: lightblue;
}

.courseTagsInput:hover + .courseTagsLabel {
  background-color:gray;
  color: white;
}