#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #2A2A2A;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: #bbb;
    background-color: #2A2A2A;
    font-size: 1.1rem;
    margin: 2px 0;
}
#sidebar-container .list-group a:hover,
#sidebar-container .list-group a:active,
#sidebar-container .list-group a.active {
    color: white;
    background-color: #3f3f3f;
    border: none;
}

#sidebar-container .list-group .logout{
    bottom: 0;
    background-color: #1b668c;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #2A2A2A;
    height: 35px;
}
.sidebar-separator {
    background-color: #2A2A2A;
    height: 25px;
}
.logo-separator {
    background-color: #2A2A2A;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.sticky-offset {
    top: 0;
}

#sidebar-container {
    position: sticky;
    top: 0;
}

#sidebarChange.closed {
    max-width: fit-content;
}

#logoImage {
    width: 70%;
    max-width: 110px;
}