.navbar {
    background-image: linear-gradient(144deg, #F38FA2 0%, #EB5C6F 41%, #F1825C 100%); 
    position: fixed;
    z-index: 30;
    width: 100%;
}

.navContainer{
    height: 85vh; background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 17%);;
}

#greetingNav{
    font-size:large ;
}

#logoutNav{
    position: absolute;
    cursor: pointer;
    left: 6vw;
    top: 45vh;
    z-index: 40;
    margin-top: 36vh;
}


.sidebarLinks{
    border-bottom: 1px solid #ebebeb;
}

.sidebarLinks.active{
    background: linear-gradient(136deg ,#DCFF73 0%, #8ECA6B 100%);
}

.fas.fa-caret-right{
    right: 20px;
}

.sidebarNav{
    color: black;
}

.sidebarNav:hover{
    color: black;
    text-decoration: none;
}

.selectedNav{
    font-size: larger;
}
