/* choose3 questions start */

.chooseQues{
  overflow-y: scroll;
  height: 60vh;
}

.chosenQuestions{
  height: 84px;
  overflow: hidden;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.chooseQues::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chooseQues {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.addingQues{
  border: solid 1px black;
  border-radius: 5px;
  overflow-y: scroll;
  height: 65vh;
  background-color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.addingQues::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.addingQues {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


.chooseQuesNavs div {
  color: gray;
  cursor: pointer;
  font-size: large;
  display: inline-block;
}

.nav-link{
  width: 20%;
  text-align: center;
}

.chooseQuesNavs a .active {
  color: black;
}

.chooseQues :nth-child(4n+0){
  background-color: transparent;
}

.chooseQues :nth-child(4n+1){
  background-color: #E8EFF3;
}

.chooseQues :nth-child(4n+2){
  background-color: transparent;
}


.chooseQues :nth-child(4n+3){
  background-color: #ffffff;
}


.chooseQuestionsLi{
list-style: none;
overflow-x: hidden;
display: inline-block;
width: 100%;
}


.chooseQuestionsInput {
  float: right;
}
/* 
.chooseQuestionssLabel {
  background-color: transparent;
  max-width: 500px;
  display: inline-block;
} */

.answers {
  color: gray;
  font-size: small;
}

.viewMoreBtn{
  float: right;
  border: none;
  font-size: 16px;
}

.viewMoreBtn :hover {
  font-weight: 600;
}

.getUnits {
  border: solid black 2px;
  border-radius: 5px;
  background-color: white;
}

.getUnitsInput {
  display: none;
}

.getUnitsLi {
  list-style: none;
}

.getUnitsLabel{
  color: gray;
  border-bottom: solid 3px #1B658C;
  border-image: linear-gradient(to right, #1B658C 50%, rgba(0,0,0,0) 50%);
  border-image-slice: 1;
}

input[type="radio"]:checked+label{
  color: black;
  font-size:x-large;
  font-weight: 400;
  border-bottom: solid 3px #1B658C;
  border-image: linear-gradient(to right, #1B658C 80%, rgba(0,0,0,0) 80%);
  border-image-slice: 1;
}

#subject-modal-div{
  background-color: white;
}


pre
{
  page-break-inside: avoid;
  display: block;
  padding: 3px 3px 2px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;

  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;


  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;

} 


/* choose questions end */


.viewMoreModal{
  background-color: transparent;
}

#questionsToChoose{
  border: solid black 1px;
  border-radius: 10px;
  padding: 0;
  background-color: white;
}

#moreQuestions{
  width: 100%;
  border: none;
  background-color: #1B658C;
  color: white;
}

#moreBloomQues1{
  width: 100%;
  border: none;
  background-color: #1B658C;
  color: white;
}
#moreBloomQues2{
  width: 100%;
  border: none;
  background-color: #1B658C;
  color: white;
}
#moreBloomQues3{
  width: 100%;
  border: none;
  background-color: #1B658C;
  color: white;
}
#moreBloomQues4{
  width: 100%;
  border: none;
  background-color: #1B658C;
  color: white;
}