.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    /* border-bottom: 3px solid #1b668c!important; */
    /* border-bottom: 3px solid linear-gradient(131deg, #7175E0 0%, #4D50CB 33%, #E25BC8 100%) !important; */
    background: linear-gradient(131deg, #7175E0 0%, #4D50CB 33%, #E25BC8 100%) left bottom #f9f9f9 no-repeat; 
    background-size:100% 3px;
    font-size: 16px;
    font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #585858;
    border-bottom: 1px solid #f9f9f9;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none;
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #85e085; 
    color: #000000;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #828282; 
    color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.btn-group-vertical{
    width: 100%;
}

.btnQuestion{
    opacity: 0.7;
    font-size: 17px;
}

.btnQuestionClick{
    opacity: 1;
    font-size: 20px;
    background-color: #ccd3d6;
}

/* ::-webkit-scrollbar {
    width: 0px;
    background: transparent; smake scrollbar transparent
} */


pre
{
  page-break-inside: avoid;
  display: block;
  padding: 3px 3px 2px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;

  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;


  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
}

.getUnits {
    border: 1px solid gray;
    border-radius: 12px;
    background-color: white;
    font-size: 18px;
  }
  
  .getUnitsInput {
    display: none;
  }
  
  .getUnitsLi {
    list-style: none;
  }
  
  .getUnitsLabel{
    color: gray;
    border-bottom: solid 3px #1B658C;
    border-image: linear-gradient(131deg, #7175E0 0%, #4D50CB 33%, #E25BC8 30%);
    /* border-image: linear-gradient(to right, #1B658C 50%, rgba(0,0,0,0) 50%); */
    border-image-slice: 1;
  }
  
  input[type="radio"]:checked+label{
    color: black;
    /* font-size:x-large; */
    font-weight: 400;
    border-bottom: solid 3px #1B658C;
    border-image: linear-gradient(131deg, #7175E0 0%, #4D50CB 33%, #E25BC8 100%);
    /* border-image: linear-gradient(to right, #1B658C 80%, rgba(0,0,0,0) 100%); */
    border-image-slice: 1;
  }

  .slick-prev{
      left: -2.5rem !important;
  }

  .slick-next{
    right: -25px !important;
}

.addCourseCard .card-body {
    height: 40%;
}

.no-data{
    height: 70vh;
    max-height: 70vh;
    align-items: center;
}

.bookmark,.unbookmark,.deleteContent,.openContent{
    cursor: pointer;
    color: black;
    text-decoration: none !important;
}
