.addCourseCard .card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(24, 102, 138, 0.64);
    border-radius: 0 0 20px 20px;
}

.card-img-top {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.addCourseCard {
    height: 250px;
    width: auto;
}

.linkwrap { position:relative; display:inline-block; }
.blocker { position:absolute; height:100%; width:100%; z-index:1; background:rgba(255,0,0,0.5);  }
.linkwrap iframe { z-index: 2; }


.chat {
    width: 100%;
    float: left;
    background: #f2f5f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}
.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.chat .chat-header img {
    float: left;
}
.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}
.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}
.chat .chat-header .chat-num-messages {
    color: #92959e;
}
.chat .chat-header .fa-star {
    float: right;
    color: #d8dadf;
    font-size: 20px;
    margin-top: 12px;
}
.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86bb71;
    border-width: 10px;
    margin-left: -10px;
}
.chat .chat-history .my-message {
    background: #86bb71;
}
.chat .chat-history .other-message {
    background: #94c2ed;
}
.chat .chat-history .other-message:after {
    border-bottom-color: #94c2ed;
    left: 93%;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
.chat .chat-message button {
    float: right;
    color: #94c2ed;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #f2f5f8;
}
.chat .chat-message button:hover {
    color: #75b1e8;
}
.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}
.online {
    color: #86bb71;
}
.offline {
    color: #e38968;
}
.me {
    color: #94c2ed;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.float-right {
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.chat li {
    list-style: none;
}

.slick-initialized .slick-slide, .slick-initialized .slick-slide a {
    outline: none;
}

.addCourseCard {
    outline: none;
}

.card-img-top {
    outline: none;
}

.addCourseCard h5 {
    color: white;
}

.status {
    color: rgba(0, 0, 0, 0.95);
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    /* Text style for "No Student" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;    
}

.desc {
    color: #363636;
    font-family: "Google Sans light";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    /* Text style for "A question" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

#activity img.img-fluid.mr-2 {
    width: 1.1rem;
}

#viewpeer {
    background-color: rgba(24, 102, 138, 0.13);
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: black;    
}

.slick-prev:before {
    background: url('../../images/prev.svg') no-repeat !important;
}

.slick-prev:before {
    content: ' ' !important;
    position: absolute !important;
    width: 39px !important;
    height: 39px !important;
    z-index: 999 !important;
    top: -20px !important;
    opacity: 1 !important;
    left: 0;
}

.slick-prev {
    z-index: 99;
    left: 0 !important;
}

.slick-next:before {
    background: url('../../images/next.svg') no-repeat !important;
}

.slick-next:before {
    content: ' ' !important;
    position: absolute !important;
    width: 39px !important;
    height: 39px !important;
    z-index: 999 !important;
    top: -20px !important;
    opacity: 1 !important;
    right: 0;
}

.slick-next {
    z-index: 99;
    right: 0 !important;
}

.card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.17);
}