.title {
    font-family: "Source Sans Pro";
    color: #191648;
    font-weight: 600;
    font-size: 19px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

.date {
    font-family: "Source Sans Pro";
    color: #909090;
    font-weight: 300;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;    
}


.addCourseCard .card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.course:nth-of-type(4n + 1) .card-body {
    background-image: linear-gradient(144deg, #F38FA2 0%, #EB5C6F 41%, #F1825C 100%);
}

.course:nth-of-type(4n + 2) .card-body {
    background-image: linear-gradient(140deg, #A0F4FF 0%, #75DAE9 20%, #8459F8 100%);
}

.course:nth-of-type(4n + 3) .card-body {
    background-image: linear-gradient(-43deg, #FF723B 0%, #FFDF57 84%, #FFED5B 100%);
    background-image: linear-gradient(-34deg, #FF723B 5%, #FFDF57 85%, #FFED5B 100%);
}

.course:nth-of-type(4n) .card-body {
    background-image: linear-gradient(136deg, #DCFF73 0%, #8ECA6B 100%);
}

.addCourseCard h5 {
    text-align: left;
}

.card-img-top {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.addCourseCard {
    height: 250px;
    width: auto;
}

.linkwrap { position:relative; display:inline-block; }
.blocker { position:absolute; height:100%; width:100%; z-index:1; background:rgba(255,0,0,0.5);  }
.linkwrap iframe { z-index: 2; }


.chat {
    width: 100%;
    float: left;
    background: #f2f5f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}
.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.chat .chat-header img {
    float: left;
}
.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}
.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}
.chat .chat-header .chat-num-messages {
    color: #92959e;
}
.chat .chat-header .fa-star {
    float: right;
    color: #d8dadf;
    font-size: 20px;
    margin-top: 12px;
}
.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 0.5rem;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86bb71;
    border-width: 10px;
    margin-left: -10px;
}
.chat .chat-history .my-message {
    background: #86bb71;
}
.chat .chat-history .other-message {
    background: #94c2ed;
}
.chat .chat-history .other-message:after {
    border-bottom-color: #94c2ed;
    left: 93%;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
.chat .chat-message button {
    float: right;
    color: #94c2ed;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #f2f5f8;
}
.chat .chat-message button:hover {
    color: #75b1e8;
}
.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}
.online {
    color: #86bb71;
}
.offline {
    color: #e38968;
}
.me {
    color: #94c2ed;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.float-right {
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.chat li {
    list-style: none;
}

.slick-initialized .slick-slide, .slick-initialized .slick-slide a {
    outline: none;
}

.addCourseCard {
    outline: none;
    height: 300px;
}

.card-img-top {
    outline: none;
}

.addCourseCard h5 {
    color: white;
}

.status {
    /* Style for "Meeting Co" */
    color: rgba(0, 0, 0, 0.95);
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left; 
}

.desc {
    color: #363636;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#activity img.img-fluid.mr-2 {
    width: 1.1rem;
}

#viewpeer {
    background-image: linear-gradient(131deg, #7175E0 0%, #4D50CB 33%, #E25BC8 100%);
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;  
}

#viewactivity {
    background-image: linear-gradient(131deg, #7175E0 0%, #4D50CB 33%, #E25BC8 100%);
    display: block;
    width: 100%;
    left: 0;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;    
}

#viewactivity:before {
    content: ' ';
    width: 15px;
    height: 15px;
    background: #7175E0;
    position: absolute;
    left: 0;
    top: -15px;
    z-index: -1;    
}

#viewactivity:after {
    content: ' ';
    width: 15px;
    height: 15px;
    background: #E25BC8;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: -1;    
}

.linkwrap img {
    height: 100px;
    width: auto;
}

.slick-prev:before {
    background: url('../../images/prev.svg') no-repeat !important;
}

.slick-prev:before {
    content: ' ' !important;
    position: absolute !important;
    width: 39px !important;
    height: 39px !important;
    z-index: 999 !important;
    top: -20px !important;
    opacity: 1 !important;
    left: 0;
}

.slick-prev {
    z-index: 99;
    left: 0 !important;
}

.slick-next:before {
    background: url('../../images/next.svg') no-repeat !important;
}

.slick-next:before {
    content: ' ' !important;
    position: absolute !important;
    width: 39px !important;
    height: 39px !important;
    z-index: 999 !important;
    top: -20px !important;
    opacity: 1 !important;
    right: 0;
}

.slick-next {
    z-index: 99;
    right: 0 !important;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    display: none;
}

.card {
    border: 1px solid #DDDDDD;
}

.btn-primary, .btn-danger {
    min-width: 135px;
    max-width: 150px;
    border-radius: 56px;
}

.btn-primary {
    background-image: linear-gradient(131deg, #7175E0 0%, #4D50CB 33%, #E25BC8 100%);
}

.btn-danger {
    position: relative;
    background: #fff;
    border: 1px solid #191648;;
    color: #191648;
}

.btn-danger:hover {
    background-image: linear-gradient(144deg, #F38FA2 0%, #EB5C6F 41%, #F1825C 100%);
}